python-dateutil
wget

beautifulsoup4
lxml
PyYAML
xmljson
zeep
fuzzywuzzy
python-Levenshtein

requests
Flask
Flask-SocketIO

tweepy
#sleekxmpp
python-telegram-bot
pymessenger
twilio
slackclient
viberbot
line-bot-sdk
kik
discord.py
botbuilder-core
botbuilder-schema

wikipedia
MetOffer
APScheduler
emoji
textblob

redis
pymongo
SQLAlchemy
PyMySQL

# Uncomment this line on Osx or Linux if you want to use sanic rest client
# Sanic is not supported on Windows !
# sanic==19.12.2
